
@using WEBPROGRAMLAMA_ODEV.Models
@model List<WEBPROGRAMLAMA_ODEV.Models.Diziler>

@{
    ViewData["Title"] = "Diziler";
}

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <!-- Link gördüğü zaman sonuna bir ok atıyor kıps.. -->

                    <a asp-area="" asp-controller="Home" asp-action="Index"> <i class="fa fa-home">  </i> AnaSayfa </a>
                    <span style="color:crimson"> Diziler  </span>

                </div>
            </div>
        </div>
    </div>
</div>

<section class="product-page spad">
    <div class="container">
        <div class="row">
            <!-- DİZİLERİN BULUNDUĞU KOLON BAŞLIYOR -->
            <div class="col-lg-8">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <div class="section-title">
                                    <h4> DİZİLER </h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="product__page__filter">
                                    <p>SIRALA:</p>
                                    <select>
                                        <option value="">A-Z</option>
                                        <option value="">1-10</option>
                                        <option value="">10-50</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- DİZİLERİ BARINDIRAN ROW CLASSI BAŞLIYOR-->
                    <div class="row">

                        <!-- DİZİ -->
                        @for (int i = 0; i < Model.Count(); i++) {

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" set-bg" data-setbg="/img/DiziPosterleri/@Model[i].DiziDosyaAdi">
                                        <div class="ep">Sezon sayısı: @Model[i].DiziSezonSayi</div>
                                        <div class="comment"><i class="fa fa-thumbs-up"></i> @Model[i].DiziBegeni</div>
                                    </div>

                                    <div class="product__item__text">
                                        <ul>
                                            <li>Aktif</li>
                                            <li>Polisiye</li>
                                            <li>Aksiyon</li>
                                        </ul>
                                        <h5> <a asp-area="" asp-controller="Diziler" asp-action="DiziDetaySayfasi" asp-route-id="@Model[i].DiziID"> @Model[i].DiziAd </a> </h5>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- DİZİLERİN BULUNDUĞU ROW CLASSI BİTTİ-->

                </div>
                <!-- PAGECONTENT BİTTİ -->
            </div>
            <!-- DİZİLERİN BULUNDUĞU KOLON BİTTİ-->
            <!-- TOP VİEWS BULUNDUĞU KOLON BAŞLIYOR -->
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">

                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>EN ÇOK İZLENENLER</h5>
                        </div>
                        <ul class="filter__controls">
                            <li class="active" data-filter="*">Bu Ay</li>
                            <!-- <li data-filter=".week"> Week </li>
                                 <li data-filter=".month">Month</li>  -->
                        </ul>

                        <div class="filter__gallery">
                            @for (int i = 0; i < Model.Count(); i++)
                            {

                                if (Model[i].DiziAd == "The Queen's Gambit")
                                {
                                    <div class="product__sidebar__view__item set-bg mix years month" data-setbg="/img/EnÇokİzlenenler/thequeensgambit.jpg">
                                        <div class="ep">Sezon sayısı: @Model[i].DiziSezonSayi</div>
                                        <div class="view"><i class="fa fa-thumbs-up"></i>  @Model[i].DiziBegeni</div>
                                        <h5><a asp-area="" asp-controller="Diziler" asp-action="DiziDetaySayfasi" asp-route-id="@Model[i].DiziID">The Queen's Gambit</a></h5>
                                    </div>
                                }
                                if (Model[i].DiziAd == "Stranger Things")
                                {
                                    <div class="product__sidebar__view__item set-bg mix years month" data-setbg="/img/EnÇokİzlenenler/strangerthings.jpg">
                                        <div class="ep">Sezon sayısı: @Model[i].DiziSezonSayi</div>
                                        <div class="view"><i class="fa fa-thumbs-up"></i> @Model[i].DiziBegeni </div>
                                        <h5><a asp-area="" asp-controller="Diziler" asp-action="DiziDetaySayfasi" asp-route-id="@Model[i].DiziID">Stranger Things</a></h5>
                                    </div>
                                }
                                if (Model[i].DiziAd == "Lucifer")
                                {
                                    <div class="product__sidebar__view__item set-bg mix years month" data-setbg="/img/EnÇokİzlenenler/lucifer.jpg">

                                        <div class="ep">Sezon sayısı: @Model[i].DiziSezonSayi</div>
                                        <div class="view"><i class="fa fa-thumbs-up"></i> @Model[i].DiziBegeni </div>
                                        <h5><a asp-area="" asp-controller="Diziler" asp-action="DiziDetaySayfasi" asp-route-id="@Model[i].DiziID">Lucifer</a></h5>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
            <!-- TOP VİEWS BULUNDUĞU KOLON BİTTİ -->
    </div>
</section>
