@model WEBPROGRAMLAMA_ODEV.Models.Diziler
<br />

<form class="form-group" method="post">
    <table>
        <tr>

            <td> <span style="color:crimson">@Html.LabelFor(x => x.DiziAd)</span></td>
            <!--LABELIN İÇİNE BirimAD SUTUNNUDA NE YAZIYORSA O YAZSIN
            <b>BirimAdı</b> ile aynı şey-->

            <td>  @Html.TextBoxFor(x => x.DiziAd, new { @class = "input__item" })</td>
            <!--TEXTBOXA GİRİLEN VERİLERİ Birim AD İLE EŞLEŞTİRECEK
            2.kısım veri giriş yeri daha güzel gözüksün diye-->

        </tr>
        <tr>
            <td>  <span style="color:crimson">@Html.LabelFor(x => x.DiziStudyo)</span></td>
            <td>  @Html.TextBoxFor(x => x.DiziStudyo, new { @class = "input__item" })</td>
        </tr>
        <tr>
            <td> <span style="color:crimson">@Html.LabelFor(x => x.DiziTarih)</span></td>
            <td>  @Html.TextBoxFor(x => x.DiziTarih, new { @class = "input__item" })</td>
        </tr>
        <tr>
            <td> <span style="color:crimson">@Html.LabelFor(x => x.DiziSezonSayi)</span></td>
            <td> @Html.TextBoxFor(x => x.DiziSezonSayi, new { @class = "input__item" })</td>

        </tr>
        <tr>
            <td> <span style="color:crimson">@Html.LabelFor(x => x.DiziIMDB)</span></td>
            <td>  @Html.TextBoxFor(x => x.DiziIMDB, new { @class = "input__item" })</td>
        </tr>
        <tr>
            <td><span style="color:crimson">@Html.LabelFor(x => x.DiziBilgi)</span></td>
            <td>@Html.TextBoxFor(x => x.DiziBilgi, new { @class = "input__item" })</td>
        </tr>
        <tr>
            <td><span style="color:crimson">@Html.LabelFor(x => x.DiziLink)</span></td>
            <td>@Html.TextBoxFor(x => x.DiziLink, new { @class = "input__item" })</td>
        </tr>
        <tr>
            <td><span style="color:crimson">@Html.LabelFor(x => x.DiziDosyaAdi)</span></td>
            <td>@Html.TextBoxFor(x => x.DiziDosyaAdi, new { @class = "input__item" })</td>
        </tr>
    </table>
    <!--TÜRLERİ ÇOKTAN SEÇMELİ EKLEYEBİLİRİZ.-->
    @{ /*
                      Html.LabelFor(x => x.BirimID);
                      Html.DropDownListFor(x => x.BirimNesne.BirimID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" });*/
    }
    <!--selectlistitem a doldurulacak değerleri viewBag ile taşıyor.-->
    <br />
    <button class="site-btn">Dizi Ekle</button>
</form>